body {
    background: #f9f9f9 none repeat scroll 0 0;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

h1 {
    font-weight: bold;
    margin: 0 0 .1em;
    font-size: 220%;
}

h1,
h2,
h3,
h4 {
    color: #005a9c;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 0%;
}

table {
    color: black;
}